<div class="jumbotron">
  <div *ngIf="notLoggedin" id ="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <!--  
        <div class="col-sm-6">
          <img src="https://imgur.com/el5VXvh.png" > 
        </div>
        -->
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
        <!--<p class="jumbotron-lg-only">Join our sepectacular insurance</p>-->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="user-info">
              <h3 class="text-center text-info">Login</h3>
              <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fc.email.errors }" />
                  <div *ngIf="submitted && fc.email.errors" class="invalid-feedback">
                      <div *ngIf="fc.email.errors.required">Email is required</div>
                      <div *ngIf="fc.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fc.password.errors }" />
                  <div *ngIf="submitted && fc.password.errors" class="invalid-feedback">
                      <div *ngIf="fc.password.errors.required">Password is required</div>
                      <div *ngIf="fc.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                  <button [disabled]="loading" class="btn btn-primary">Login</button>
                  <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
            </form>
        
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="app/logout">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink = "/quote">Quote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "">Rates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/customer">CustomerHome</a>
      </li>
    </ul>
  </div>
</nav>