<table class="table table-striped table-responsive-md btn-table">

  <thead>
    <tr>
      <th>Customer Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Occupation</th>
      <th>GPA*</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <button mdbBtn color="primary" outline="true" size="sm" mdbWavesEffect type="button" class="m-0">Button</button>
      </td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>

</table>