<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group ">
        <a class="list-group-item list-group-item-action active">Dashboard</a>
        <a class="list-group-item list-group-item-action">Personal Information</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>{{ loggedinUser.fName + ' ' + loggedinUser.lName}}</h4>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-8">
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                </div>
              </div>
              <div class="row">
                <label class="col-4 col-form-label" for="">Nick Name*</label>
                <div class="col-8">
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                </div>
              </div>
              <div class="row">

                <div class="col-8">
                </div>
              </div>
              <div class="row">

                <div class="col-8">
                </div>
              </div>
              <div class="row">

                <div class="col-8">
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                </div>
              </div>
              <div class="row">
                <div class="offset-4 col-8">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
