<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar navbar-brand" routerLink="/">CREDit</a>
    <form #f="ngForm" class="form-inline pull-xs-right" (ngSubmit)="signIn(f.value)">
      <input
        ngModel
        type="email"
        name="email"
        class="form-control mr-2" id="exampleInputEmail1"
        placeholder="Email Address"/>
      <input
        ngModel
        type="password"
        name="password"
        class="form-control mr-2"
        id="inlineFormInputGroup"
        placeholder="Password"/>
      <button class="btn btn-primary my-2 my-sm-0 get-started-btn" type="submit">Login</button>
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid login.</div>
    </form>
  </div>
</nav>
